{% include 'RawTemplate/_header.html.twig' %}


{% if connected is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-primary alert-uac" role="alert">
          <span class="nav-text">Vous êtes connecté</span>&nbsp;<span class="icon-hand-peace-o nav-icon-fa nav-text"></span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}

<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="home-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Ma vie scolaire : ne manquez rien de la vie de votre enfant
  </div>
</div>



<div class="row">

  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <p class="home-txt"><i class="lit-txt">M</i>aviescolaire.com révolutionne la gestion du quotidient à l'école. Notre outil numérique centralise vos informations pour un accès plus rapide, fiable et sécurisé. Les enseignants y trouvent un espace dédié pour saisir les notes, suivre les absences et communiquer les travaux. Les élèves peuvent consulter leurs notes, leurs emplois du temps et être informés rapidement des devoirs. Les parents sont tenus au courant de la scolarité de leurs enfants en temps réel. Grâce à Maviescolaire.com, les démarches administratives sont simplifiées, le suivi scolaire est optimisé et la communication entre tous les acteurs de la communauté éducative est facilitée.
    <br>
    Pour une meilleure organisation de votre travail et favoriser l'autonomie de vos enfants, rejoignez-nous !</p>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<hr>
<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
    <div  class="mgs-mainblk-txt">
        <a href="/visit">
            <img src="{{ asset('build/img/squareg600x600.jpg') }}" style="width:300px; height:300px; opacity: 1;" title="Nouvelle 3" alt="Nouvelle 3" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
        <div class="news-exb">
        Devoir maison
        </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
          <a href="/provinceint">
            <img src="{{ asset('build/img/squareb600x600.jpg') }}" style="width:300px; height:300px; opacity: 1;" title="Province" alt="Province" class="uac-img-center img-rd-sq part-img-fmt">
          </a>
          <div class="news-exb">
            Emploi du temps
          </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
        <a href="/vieetudiante">
          <img src="{{ asset('build/img/squarev600x600.jpg') }}" style="width:300px; height:300px; opacity: 1;" title="Vie Étudiante" alt="Vie Étudiante" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
          <div class="news-exb">
            Notes
          </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
        <a href="/alumni">
          <img src="{{ asset('build/img/squarey600x600.jpg') }}" style="width:300px; height:300px; opacity: 1;" title="Alumni" alt="Alumni" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
          <div class="news-exb">
            Finance
          </div>
    </div>
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}