{% include 'RawTemplate/_header.html.twig' %}
<i id="anchor-menup"></i>
<i id="anchor-top"></i>
<div id="mg-graph-identifier">stt-men</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">

    <h1>Module</h1>
    <small>Maviescolaire fourni un écosystème complet pour vous permettre de piloter votre établissement.</small><br>N'hésitez plus ! Venez nous voir pour que votre école passe au niveau supérieur !
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>

        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-drt" src="{{ asset('build/img/module/edt.jpg') }}" style="width:200px; height:200px; opacity: 1;" title="Droit" alt="Droit" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            EMPLOI DU TEMPS<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-ges" src="{{ asset('build/img/module/grade.jpg') }}" style="width:200px; height:200px; opacity: 1;" title="Gestion" alt="Gestion" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            NOTES<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-eco" src="{{ asset('build/img/module/inscription.jpg') }}" style=" width:200px; height:200px; opacity: 1;" title="Économie" alt="Économie" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            INSCRIPTION<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-inf" src="{{ asset('build/img/module/actualite.jpg') }}" style=" width:200px; height:200px; opacity: 1;" title="Informatique et Électronique" alt="Informatique et Électronique" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            ACTUALITÉ<br>
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-com" src="{{ asset('build/img/module/finance.jpg') }}" style=" width:200px; height:200px; opacity: 1;" title="Communication" alt="Communication" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            FINANCE<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img id="men-ssa" src="{{ asset('build/img/module/homework.jpg') }}" style=" width:200px; height:200px; opacity: 1;" title="Sciences de la Santé" alt="Sciences de la Santé" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            DEVOIR MAISON<br>
          </div>
        </div>
        <div id="men-rid" class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ asset('build/img/module/assiduite.jpg') }}" style=" width:200px; height:200px; opacity: 1;" title="Relation Internationales & Diplomatie" alt="Relation Internationales & Diplomatie" class="uac-img-center img-mention part-img-fmt">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            ASSIDUITÉ<br>
          </div>
        </div>

        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ asset('build/img/module/endline.png') }}" style=" width:200px; height:200px; opacity: 1;" title="Mention Fin" alt="Mention Fin" class="uac-img-center img-mention">
          <div class="ace-sub ace-sub-fmt mention-txt-over">
            DEMANDEZ UN MODULE SUR MESURE !<br>
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'Static/RawModule/_edt.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_grade.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_inscription.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_actualite.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_finance.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_homework.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'Static/RawModule/_assiduite.html.twig' %}
{% include 'Static/RawModule/_rawGoToTop.html.twig' %}

{% include 'RawTemplate/_footer.html.twig' %}
