{# templates/security/login.html.twig #}
{% include 'RawTemplate/_header.html.twig' %}


<div class="row">
    <div class="col-lg-4 mgs-mainblk-txt">
    </div>
    <div class="col-lg-4">
            <div class="mg-verify-logo-login">
                {# {{ asset('build/images/waiting-2.gif') }} #}
                <img src="{{ asset('build/img/LogoRefSQRounded400X400.png') }}" style="width:150px; height:150px; opacity: 0.5;"
                        title="Maviescolaire" alt="Maviescolaire Logo">
            </div>

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post">
                
                <input type="text" id="username" class="uac-line-login" name="_username" value="{{ last_username }}" placeholder="Login" />

                <br>
                <input type="password" id="password" class="uac-line-login" name="_password" placeholder="Mot de passe" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
                <button type="submit" class="uac-line-login-btn btn btn-outline-dark">Se connecter</button>
            </form>
    </div>
    <div class="col-lg-4 mgs-mainblk-txt">
    </div>
</div>
{% include 'RawTemplate/_footer.html.twig' %}